/* ============= =============
 table of contents
=============== =============
 
1.left-section
2.right-section ==> animation

 
*/

section.hero {
  margin-top: 3rem;
}

/* ============= =============
 1.left-section
=============== =============*/

section.hero .left-section {
  flex-grow: 1;
}

section.hero .parent-avatar.flex {
  align-items: end;
  gap: 0.6rem;
  min-width: 88px;
}

section.hero .icon-verified {
  font-size: 1.1rem;
  color: var(--blue);
  margin-bottom: 0.3;
}

section.hero .avatar {
  width: 88px;
  border-radius: 50%;
  border: 1px solid darkgoldenrod;
  padding: 1px;
  box-shadow: 2px 2px 40px rgba(219, 214, 214, 0.827) inset;
}

section.hero h1.title{
  font-size: 2.85rem;
  line-height: 3.3rem;
  margin:24px 0;
  color: var(--title);
}
section.hero p.sub-title{
  color: var(--subtitle);
  font-size: 0.9rem;
  line-height: 1.65rem;
  margin-bottom: 32px;
}
section.hero .all-icon{
  gap: 1rem;
  font-size: 1.3rem;
  color: var(--subtitle);
}

section.hero .all-icon .icon:hover{
  font-size: 1.4rem;
  transition: 0.3s;
  cursor: pointer;
  color: var(--icon-hover);
}


/* ============= =============
2.right-section ==> animation
=============== =============*/
.animation{
  width: 100%;
  translate: 100px 55px;
}

@media (max-width: 1100px) {
  section.hero .animation {
    display: none;
  }
}
